<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/index.css" />
    <link rel="stylesheet" href="../static/about.css" />
    <script src="https://kit.fontawesome.com/a76e832906.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <title>About Us</title>
</head>

<body>
    <!-- Header -->
    <header>
        <div class="nav-menu">
            <ul>
                <li><a href="./index.html">Home</a></li>
                <li><a href="./about.html">About Us</a></li>
                <li><a href="./product.html">Products</a></li>
                <li><a href="./contact.html">Contact</a></li>
                <li><a href="./User.html">User</a></li>
                <li><a href="./sign-up.html">Sign Up</a></li>
                <li><a href="./login.html">Log In</a></li>
            </ul>
        </div>
    </header>
    <!-- Header End -->

    <!-- About Us Section -->
    <div class="about">
        <h1>About Us</h1>
        <div class="about-content">
            <div class="about-info">
                <div class="about-us-conti">
                    <div>
                        <h2>About Us</h2>
                        <p>Welcome to AgriRent, your trusted platform for agricultural equipment sharing. Founded with the mission to empower farmers in Northern Nigeria, AgriRent bridges 
                            the gap between equipments and farmers in need. We believe in the power of community and 
                            collaboration to drive agricultural efficiency and sustainability. By providing easy access to vital farming tools,
                             we aim to enhance productivity, reduce costs, and promote mechanization. Our platform connects users seamlessly, offering 
                             a range of equipment options tailored to various agricultural needs. Join us in transforming farming practices, fostering growth, 
                             and building a sustainable future for our farming communities.
                        </p>
                    </div>
                    <div>
                        <img src="../static/images/About us pic.jpg" alt="About Us">
                    </div>
                </div>
                <div class="our-mission">
                    <div>
                        <img src="../static/images/Our mission pic.jpg" alt="Our Mission">
                    </div>
                    <div>
                        <h2>Our Mission</h2>
                        <p>At AgriRent, our mission is to revolutionize agriculture in Northern Nigeria by making advanced 
                            farming equipment accessible to all. We aim to bridge the gap between equipments and farmers 
                            through a seamless, user-friendly platform that encourages sharing and collaboration. By facilitating 
                            access to modern machinery, we strive to enhance agricultural productivity, reduce operational costs, 
                            and promote sustainable farming practices. Our goal is to empower farmers, boost local economies, and contribute 
                            to a resilient and thriving agricultural sector. Join us in our mission to drive innovation, 
                            support communities, and cultivate a prosperous future for all farmers.
                        </p>
                    </div>
                </div>
                <div class="what-we-offer">
                    <div>
                        <h2>What We Offer</h2>
                        <p>AgriRent provides a comprehensive solution for all your agricultural equipment needs. 
                            Our platform offers a wide range of farming machinery available for rent, from tractors and plows to 
                            harvesters and irrigation systems. By connecting equipment owners with farmers, we ensure that essential 
                            tools are accessible and affordable. Our user-friendly interface allows you to easily browse, book, and manage 
                            rentals, with flexible options tailored to your farming schedule. We also offer reliable customer support and a secure 
                            payment system, ensuring a smooth and trustworthy transaction process. At AgriRent, we are committed to supporting your 
                            agricultural journey by providing the resources you need to succeed.
                        </p>
                    </div>
                    <div>
                        <img src="../static/images/what we offer.jpg" alt="Our Mission">
                    </div>
                </div>
            </div>
    </div>
    <!-- About Us Section End -->

    <!-- Footer -->
    <footer>
        <div class="footer container">
            <div class="top">
                <div class="logo">
                    <b>AgriRent</b>
                    <p>Leading the Way in  Agricultural<br>
                        Excellence, Tested and Trusted</p>
                </div>
                <div class="links">
                    <h3>Important Links</h3>
                    <ul>
                        <li><a href="#">Learning</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Book Now</a></li>
                    </ul>
                </div>
                <div class="contact">
                    <h3>Contact Us</h3>
                    <div class="contact-info">
                        <p>Call: (250) 79-210-4597</p>
                        <p>Email: agrirent@example.com</p>
                    </div>
                </div>
                <div class="newsletter">
                    <h3>Newsletter</h3>
                    <div class="input">
                        <input type="text" placeholder="Enter your email address">
                        <i class="fa-solid fa-paper-plane"></i>
                    </div>
                </div>
            </div>
            <div class="bottom">
                <img src="../static/images/line.png" alt="Line">
                <div class="bottom-info">
                    <p>© 2024 AgriRent All Rights Reserved</p>
                    <div class="social-icons">
                        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                        <a href="#"><i class="fa-brands fa-facebook"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End -->
</body>

</html>